.backgroundColor{
    background-image: url("../img/bg.gif");
}
.backgroundColor legend{
    color: white;
}
.tableClass thead th{
    background-image: url("../img/bg.png");
    border-radius: 10px 0 15px 0;
    text-align: center;
}
.tableClass tbody{
    background-color: #e6ffee;
    text-align: center;
}
.formBackground{
    background-color: #e6ffee;
    border-radius: 5px;
}

.messageShow{
    margin-left: 5px;
    line-height: 0.429;
    max-height: 1px;
}
.indexDescription{
    /*text-overflow: clip;*/
    /*overflow: visible;*/
    /*word-wrap:  break-word;*/


}
.dropdownOpacity{
    left: 16px;
}